<%- include('partials/header'); -%>
<h1>Home</h1>
<p> <%= startingContent %> </p>
<div class="postContainer">

  <% newPosts.forEach((post) => { %>
  <div class="post">
    <h1> <%= post.tittle %> </h1>
    <p> <%= post.body %> </p>
  </div>
  <% }); %>
<%- include('partials/footer'); -%>
